#companyData {
    background-color:lightgrey;
    font-family: "Century Gothic","Apple Gothic",AppleGothic,"URW Gothic L","Avant Garde",Futura,sans-serif;
}
#error {
    color: white;
    font-size: 18px;
    margin-right: 35px;
    font-weight: bold;
}

.chart div {
    font: 8px sans-serif;
    background-color:plum;
    text-align: right;
    padding: 3px;
    margin: 1px;
    color: white;
    }


svg {
        
    font-size: 20px;
    font-family: "Century Gothic","Apple Gothic",AppleGothic,"URW Gothic L","Avant Garde",Futura,sans-serif;
    fill: white;
    margin-top: 10%;
 
}

path {
    stroke-width: 2;
    fill: none;
}

.axis path, .axis line {
    fill: none;
    stroke: white;
    font-size: 10px;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.overlay {
    fill: none;
    pointer-events: all;
    color: white;
}

.line {
    stroke-width: 1px;
}


    
    
      