
div.split.right::-webkit-scrollbar {
  width: 12px;
}

div.split.right::-webkit-scrollbar-track {
box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
}

div.split.right::-webkit-scrollbar-thumb {
  border-radius: 10px;
 box-shadow: inset 0 0 6px rgba(0,0,0,0.5);}

:root {
    --container-bg-color: #333;
    --left-bg-color: rgba(223, 39, 39, 0.7);
    --left-button-hover-color: rgba(69, 167, , 0.3);
    --right-bg-color: rgba(43, 43, 43, 0.8);
    --right-button-hover-color: rgba(92, 92, 92, 0.3);
    --hover-width: 75%;
    --other-width: 25%;
    --speed: 1000ms;
}

html, body {
    padding:0;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}


.navbar {

  background-color: black;
  transition: var(--speed) all ease-in-out;
}

  .navbar-expand-lg {
    background-color: black;
    transition: var(--speed) all ease-in-out;

  }

#company {
    font-size: 3rem; 
    color: #fff;
    position: relative;
    left: 70%;
    transform: translateX(-50%);
    white-space: nowrap;
}
#Financial {
  font-size: 3rem; 
  color: #fff;
  position: relative;
  left: 90%;
  transform: translateX(-50%);
  white-space: nowrap;
}


.split.left .button:hover {
  background-color: var(--left-button-hover-color);
  border-color: var(--left-button-hover-color);
}

.split.right .button:hover {
  background-color: var(--right-button-hover-color);
  border-color: var(--right-button-hover-color);
}

.container {
  /* position: relative;
  width: 100%;
  height: 77%;
  background: var(--container-bg-color); */
  overflow: scroll;
}

.split {
  position: absolute;
  width: 50%;
  height: 80%;
  overflow: scroll;
  color: #fff;
}

.split.left {
  left:0;
  background-color:black;
  /* background: url('https://image.ibb.co/m56Czw/designer.jpg') center center no-repeat; */
  background-size: cover;
  z-index: 1;
}


.panel-default {
  margin-left: 15px;
}

#firstpanel {
  position: relative;
  z-index: 2;
}
#secondpanel {
  position: relative;
  z-index: 2;
}
#thirdpanel {
  position: relative;
  z-index: 2;
}
#fourthpanel {
  position: relative;
  z-index: 2;
}

.split.left:before {
  position:absolute;
  content: "";
  width: 100%;
  
  background: var(--left-bg-color);
}

.split.right {
  right:0;
  background-color: black;
  /* background: url('https://image.ibb.co/m3ZbRb/programmer.png') center center no-repeat; */
  background-size: cover;
}

.split.right:before {
  position:absolute;
  content: "";
  width: 100%;
  height: 100%;
  /* background: var(--right-bg-color); */

  
}

.split.left, .split.right, .split.right:before, .split.left:before {
  transition: var(--speed) all ease-in-out;
}

.hover-left .left {
  width: var(--hover-width);
}

.hover-left .right {
  width: var(--other-width);
}

.hover-left .right:before {
  z-index: 2;
}


.hover-right .right {
  width: var(--hover-width);
}

.hover-right .left {
  width: var(--other-width);
}

.hover-right .left:before {
  z-index: 2;
}

@media(max-width: 800px) {
  h1 {
    font-size: 2rem;
  }

  .button {
    width: 12rem;
  }
}

@media(max-height: 700px) {
  .button {
    top: 70%;
  }
}
.bottom-static {
    margin-top: 40%;
}
.top-static {
    width:20%;
    margin-left: auto;
}

a {
  color:white;
}